<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LuceneDemo.Properties.Settings.LuceneDemoConnectionString"
            connectionString="Data Source=ICAN-52\SQLEXPRESS14;Initial Catalog=LuceneDemo;Persist Security Info=True;User ID=sa;Password=lostman@123"
            providerName="System.Data.SqlClient" />
        <add name="LuceneDemo.Properties.Settings.LuceneDemoConnectionString1"
            connectionString="Data Source=ICAN-52\SQLEXPRESS14;Initial Catalog=LuceneDemo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>